body{
    background-image: url('insurance.jpg');
    background-color: blue;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% 100% ;
    font-family: 'Tangerine', serif;
    font-size: 28px;}